<!DOCTYPE html>
<html lang="en" dir="ltr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Оплата и доставка</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/oplata.css" th:href="@{/css/oplata.css}">
    <link rel="shortcut icon" type="image/png" th:href="@{/icon/klipartz.com.png}"/>
</head>
<body>
<script src="https://kit.fontawesome.com/a076d05399.js"></script>
<div id="top">
    <header class="header">

        <ul class="nav justify-content-center">
            <li class="nav-item" style="margin-top: 10px; color: white">
                <a class="nav-link" href="tel: 89269269417"><span class="fas fa-phone-alt" style="color: white"></span>
                    <span class="text" style="color: white">8-926-926-94-17</span></a>
            </li>
            <li class="nav-item" style="margin-top: 10px; color: white">
                <hr align="center" width="100" size="1" style="color: white"/>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/}">
                    <span class="text-title" style="color: #e8b84c"><h1>CAKES</h1></span></a>
            </li>
            <li class="nav-item" style="margin-top: 10px; color: white">
                <hr align="center" width="100" size="1" style="color: white"/>
            </li>
            <li class="nav-item" style="margin-top: 10px; color: white">
                <a class="nav-link" ><span class="fas fa-city" style="color: white"></span>
                    <span class="text" style="color: white">Москва</span></a>
            </li>
            <!--      <li class="nav-item">
                      <a class="nav-link" href="Login.html"><span class="fas fa-user-shield"></span>
                          <span class="text">Войти</span></a>
                  </li>-->
        </ul>
        <center>
            <div id="menu">
                <div class="container">
                    <ul class="nav justify-content-center">
                        <li class="nav-item"><a class="nav-link" th:href="@{/how-do-it}">Как мы это делаем</a></li>
                        <li class="nav-item"><a class="nav-link" th:href="@{/gallery}">Наши торты</a></li>
                        <li class="nav-item"><a class="nav-link" th:href="@{/create}">Заказать торт</a></li>
                        <li class="nav-item"><a class="nav-link" th:href="@{/delivery}">Оплата и доставка</a></li>
                        <li class="nav-item"><a class="nav-link" th:href="@{/contacts}">Контакты</a></li>
                    </ul>
                </div>
            </div>
        </center>
    </header>
    <div id="tort">
        <img src="img/devCake.png" th:src="@{img/devCake.png}">
    </div>

</div>

<div id="pay">
    <h1> Оплата и доставка </h1>
    <center><img src="img/timeIcon.png" th:src="@{img/timeIcon.png}" alt=""></center>
    <center>
        <table>
            <tbody>
            <tr>
                <td>
                    <center><h2>Стоимость тортов</h2></center>
                    <p>Стоимость каждого торта зависит от его веса.</p>
                    <p>Цена 1 килограмма &nbsp;— 1500 рублей.</p>
                    <p>Если торт получился тяжелее 2,5 кг., то на каждый дополнительный килограмм мы делаем скидку
                        <br>и рассчитываем его по 950 рублей.</p>
                </td>
                <td>
                    <center><h2>Доставка</h2></center>
                    <p>Вы можете самостоятельно забрать торт прямо из <a th:href="@{/contacts}">нашей кондитерской</a>, или воспользоваться услугой доставки по Москве.</p>
                    <p>Стоимость доставки торта в среднем составит от 200 до 400 рублей, в зависимости от района города.&nbsp;Точную стоимость поможет определить наш менеджер при подтверждении заказа.</p>
                </td>
            </tr>
            </tbody>
        </table>
    </center>
</div>
<div id="pays">
    <center><h1>Способы оплаты</h1></center>
    <center><img src="img/decor2.png" th:src="@{img/decor2.png}" alt=""></center>
    <center>
        <table>
            <tbody>
            <tr>
                <td>
                    <center><h2>Оплата наличными</h2></center>
                    <p>Мы принимаем предоплату 50% наличными в кафе наших партнеров "Кураж".
                        Там вам выдадут товарный чек.</p>
                </td>
                <td>
                    <center><h2>Оплата    картой</h2></center>
                    <p>Мы принимаем предоплату на корпоративную карту Сбербанк.</p>
                    <p>Реквизиты карты сообщит наш менеджер при подтверждении заказа.</p>
                </td>
            </tr>
            </tbody>
        </table>
    </center>
</div>

<div class="oplataPhone">По всем вопросам просим звонить по тел.<div>8 (926) 926 94 17</div><div>8-926-596-79-89</div></div>
<script src="https://kit.fontawesome.com/a076d05399.js"></script>
<div id="footer">
    <div class="main-content">
        <div class="left box">
            <h2 style="color: white">Социальные сети</h2>
            <div class="content">
                <p style="color: white">Вы можете найти нас в социальных сетях</p>
                <div class="social">
                    <a href="https://www.facebook.com"><span class="fab fa-facebook-f" style="color: white"></span></a>
                    <a href="https://www.twitter.com/"><span class="fab fa-twitter" style="color: white"></span></a>
                    <a href="https://www.instagram.com/vovan_mx188"><span class="fab fa-instagram" style="color: white">

                    </span></a>
                    <a href="https://www.youtube.com/"><span class="fab fa-youtube" style="color: white"></span></a>
                </div>
            </div>
        </div>
        <div class="center box">
            <h2 style="color: white">Контакты</h2>
            <div class="content">
                <p style="color: white">Свяжитесь с нами</p>
                <div class="place">
                    <a th:href="@{/contacts}"><span class="fas fa-map-marker-alt" style="color: white"></span>
                        <span class="text" style="color: white">Москва</span></a>
                </div>
                <div class="phone">
                    <a href="tel: 89269269417"><span class="fas fa-phone-alt" style="color: white"></span>
                        <span class="text" style="color: white">8-926-926-94-17</span></a>
                </div>
                <div class="email">
                    <a href="mailto: sychev_188@mail.ru" ><span class="fas fa-envelope" style="color: white"></span>
                        <span class="text" style="color: white">sychev_188@mail.ru</span></a>
                </div>
            </div>
        </div>
    </div>
</div>


</body>
</html>
