@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
html, body {
height: 100%;
width: 100%;
margin: 0;
padding: 0;
position: relative;
font: 14px/18px 'PT Sans';
color: #404040;
min-width: 940px; }
hr {
    border: none; /* Убираем границу */
    background-color: white; /* Цвет линии */
    color: white; /* Цвет линии для IE6-7 */
    height: 3px; /* Толщина линии */
}
.text-title{
  font: Marker Felt, fantasy;
  font-weight:bold;
  color:red;
  border-bottom: 5px solid #ccc;
  margin-bottom: 20px;
  padding-bottom: 5px;
}
a{
  font-family: "Lobster";
  font-size: 20px;
  text-decoration: none;
  color: black;

}
#menu a:hover{
  color:grey;
  text-decoration: underline;
}
#menu  a{
  font-size: 20px;
  margin-top:15px;
}

#menu .col{
  margin-top:15px;
}
#top {
  height: 400px;
    background: url("../img/main_bg.png");
    background-color: #babec1;
    background-size: cover;
    color:white;
    text-align: center;
}

#menu{
  margin-left: 80px;
  height: 100px;
  width: 1080px;
  background: url("../img/bg.png");
}
#menu .row{
  padding-left: 10px;
  width: 1080px;
}
#mapa h1{
  text-align: center;
    font-family: "Lobster";
}
.contactTemplate {
  margin: 46px 0 80px; }
  .contactTemplate table {
    margin: 0 auto;
    width: 800px;
    table-layout: fixed; }
    .contactTemplate table td {
      width: 280px;
      padding: 0 60px;
      text-align: center;
      vertical-align: top;
      color: #555;
      font-size: 13px; }
      .contactTemplate table td h2 {
        position: relative;
        padding-bottom: 37px;
        margin-bottom: 38px; }
        .contactTemplate table td h2:after {
          content: '';
          position: absolute;
          width: 46px;
          height: 8px;
          left: 50%;
          margin-left: -23px;
          bottom: 0;
          background: #f2bc2a; }
      .contactTemplate table td p {
        margin: 0; }
        .contactTemplate table td p.grey {
          color: #333;
          font-style: italic;
          font-size: 12px; }
        .contactTemplate table td p.phone {
          font-size: 18px;
          font-weight: bold; }
      .contactTemplate table td h3 {
        font-size: 14px; }

/* footer */
#footer {
            background: url("../img/03_pattern.jpg");

            border-top: 2px dashed silver;
            width: 100%;
            float: left;
        }
        .main-content {
            display: flex;
        }
        .main-content .box{
            flex-basis:50%;
            padding: 10px 20px;
        }
        .box h2{
            font-size: 1.125rem;
            font-weight: 600;
            text-transform: uppercase;
            color: black;
        }
        .box .content {
            margin: 20px 0 0 0;
            position: relative;
        }
        .box .content:before{
            position: absolute;
            content: '';
            top:-10px;
            height: 2px;
            width: 100%;
            background: #f12020;;
        }

        .left .content p {
            text-align: justify;
            color: black;
        }
        .left .content .social {
            margin: 20px 0 0 0;
        }
        .left .content .social a {
            padding: 0 2px;
        }
        .left .content .social a span {
            height:40px;
            width: 40px;
            color: black;
            background: #916e6e;
            line-height: 40px;
            text-align: center;
            font-size: 18px;
            border-radius: 5px;
            transition: 1s;
        }
        .left .content .social a span:hover{
            background:#916e6e;
        }
        .center .content p {
            text-align: justify;
            color: black;
        }
        .center .content .fas {
            font-size: 1.4375rem;
            background: #c9a2a2;
            color:black;
            height: 45px;
            line-height: 45px;
            width: 45px;
            text-align: center;
            border-radius: 50%;
            transition: 1s;
            cursor: pointer;
        }
        .center .content a {
            color:black;
            text-decoration: none;

        }
        .center .content a:hover {
            color:#c15443;
            transition: 1s;
        }
        .center .content .fas:hover {
            background: #c15443;
        }
        .center .content .text{
            font-size: 1.0625rem;
            font-weight: 500;
            padding-left: 10px;

        }
        .center .content .place{
            margin:10px 0
        }
        .center .content .phone{
            margin:10px 0
        }
        .right .content .form{
            margin: 10px 0 0 0;
        }
