<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Home page</title>
</head>
<body>
<div>
    {{customers}}
    <form method="get" action="/admin">
        <button type="submit">
            Back
        </button>
    </form>
</div>
</body>
</html>